
<div class="home container-fluid">
  <% @posts.each do |post| %>
    <div class="post">
      <div class="post__user-avatar"></div> <div class="post__user-name">@atseng3</div>
      <div class="post__thumbnail"></div>
      <div class="post__title"><%= link_to post.title, post_path(post) %></div>
      <div class="post__stats">
        <span><%= post.votes_for.count %> approve</span>
        <span><%= post.comments.count %> comments</span>
      </div>
      <button class="btn btn-default approve">APPROVE</button>
      <button class="btn btn-default comment">COMMENT</button>
    </div>
  <% end %>
</div>