.navbar-default {
	// padding: 0px 60px;
	background: white;
	box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.20);
	.navbar-nav > li > a {
    font-size: 18px;
    font-weight: bold;
  }
	.navbar-brand {
		height: 60px;
		padding: 0px 15px;
	}
}